/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BEDTOOLS_COVERAGE {
        // -d = Report the depth at each position in each A feature. Positions reported are one based. Each position and depth follow the complete A feature.
        ext.args = '-d'
    }

    withName: BEDTOOLS_SLOP {
        // -b = Increase the BED/GFF/VCF entry by the same number base pairs in each direction. Integer.
        ext.args = "-b ${params.extension_limit}"
    }

    withName: FAI_TO_CHR_SIZES {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SORT_.*' {
        // -k = sort via a key; KEYDEF gives location and type
        ext.args = '-k1,1 -k2,2n'
        publishDir = [
            enabled: false
        ]
    }

}
