/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run inpred/tso500_v2_reference_preparation -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 1,
        memory: '10MB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test Stub profile'
    config_profile_description = 'Stub test to check pipeline function'

    // Input data
    input               = 'assets/samplesheet.csv'
    panel_bed           = 'assets/test_stub/panel.bed'
    reference_fai       = 'assets/test_stub/reference.fa.fai'
    outdir              = 'test_stub_outdir'
}
